:root {
    --font-primary: 'Poppins', sans-serif;
}

body {
    font-family: var(--font-primary);
    font-weight: 400;
}

.nav-icon {
    font-size: 1.4rem;
    color: white;
    text-decoration: none;
    transition: all .3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .2rem;
}

.nav-icon:hover {
    color: #f1f5f5;
}

.navbar-brand {
    text-decoration: none;
}

.carousel .carousel-item {
    height: 85vh;
}

.carousel-item img {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    min-height: 85vh;
}

.products-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.product-card {
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 0.25rem;
    padding: 1.5rem 1rem;
    background-clip: border-box;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.product-img-top {
    max-width: 85%;
    height: 15rem;
    align-self: center;
}

.product-body {
    padding: 3rem .4rem 1.5rem .4rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;


}


.footer span {
    font-size: 1.25rem;
}



@media screen and (max-width: 768px) {
    .products-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .product-img-top {
        height: 13rem;
    }
}

@media screen and (max-width: 576px) {
    .products-container {
        grid-template-columns: 1fr;
    }

    .product-img-top {
        height: 14rem;
    }
}

.cartpage,
.authpage {
    display: grid;
    place-items: center;
    padding: 5rem 0;
    min-height: 80vh;

}

.cartpage-main,
.authpage-main {
    background-color: white;
    margin: 0 2%;
}

.authpage-main {
    max-width: fit-content;
    margin: 0 auto;
    padding: 3rem 2rem;
}

.cart-product img {
    width: 86%;
    min-width: 50px;
}